# Byte-compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Data files
data/raw_data.json
data/images/


# Logs
*.log

# IDE-specific files
.vscode/
.idea/

# Build artifacts
dist/
build/
env/
data/
session_name.session
.env